<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <div id="name"><%= @employee.name %></div>
</p>

<p>
  <strong>Age:</strong>
  <div id="age"><%= @employee.age %></div>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
